/* For Headings */
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
/* For body */
/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* font var */
:root {
  --fw-400: 400;
  --fw-600: 600;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2.5rem;
}

div.text h1 {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
  text-align: center;
}

div.text p {
  font-family: "Open sans", sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  text-align: center;
}

div.text button {
  font-family: "Open sans", sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  text-align: center;
}

@media only screen and (min-width: 710px) {
  div.text h1 {
    font-size: var(--fs-700);
  }
  div.text p {
    font-size: var(--fs-500);
  }
}
