div.text button {
  background-color: white;
  color: var(--Violet);
  width: 12.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 1.25rem;
  margin-top: 1.625rem;
  cursor: pointer;
}

div.text button:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}
