img {
  max-width: 100%;
}

div.logo {
  /*min-width: 7.5rem;
  max-width: 12.5rem;*/
  width: 7.5rem;
}

div.social img {
  filter: saturate(0) contrast(0) brightness(200%);
  cursor: pointer;
}

div.social span::before {
  content: url(../../images/icon-facebook-hover.svg);
  position: absolute;
  top: 0;
  left: 0;
}

div.social img:hover {
  opacity: 0;
}

/*div.social img:hover {
  filter: hue-rotate(300deg) saturate(71%) contrast(69%) brightness(200%);
}*/

div.social span:nth-last-child(2) {
  margin-right: 0.75rem;
}

div.social span:nth-last-child(3) {
  margin-right: 0.75rem;
}

@media only screen and (min-width: 710px) {
  div.logo img {
    width: 12.5rem;
  }
}
