img {
  max-width: 100%;
}

div.logo img {
  /*min-width: 7.5rem;
  max-width: 12.5rem;*/
  position: relative;
  width: 7.5rem;
}

div.social img {
  filter: saturate(0) contrast(0) brightness(200%);
  cursor: pointer;
}

div.social img::before {
  content: "dit is tekst";
  position: absolute;
  top: 0;
  left: -50px;
  z-index: 10;
}

/*div.social img:hover {
  filter: hue-rotate(300deg) saturate(71%) contrast(69%) brightness(200%);
}*/

div.social img:nth-last-child(2) {
  margin-right: 0.75rem;
}

div.social img:nth-last-child(3) {
  margin-right: 0.75rem;
}

@media only screen and (min-width: 710px) {
  div.logo img {
    width: 12.5rem;
  }
}
