img {
  max-width: 100%;
}

div.logo img {
  /*min-width: 7.5rem;
  max-width: 12.5rem;*/
  width: 7.5rem;
}

div.social img {
  filter: saturate(0) contrast(0) brightness(200%);
}

@media only screen and (min-width: 710px) {
  div.logo img {
    width: 12.5rem;
  }
}
